include ./../arrow/arrow.pug
include ./../count-button/count-button.pug
include ./../button/button.pug

// title it's array where first element title for dropdown_title 
// values for option: "option_one", "option_two" 
mixin dropdown(title, option)
  div(class="dropdown " + className)
    button(class="dropdown_button")
    span(class="dropdown_title") #{title[0]}
    +arrow("arrow_expand")
    div(class="dropdown_content")
      - for (var i = 1; i < title.length; i++)
          a(class="dropdown_link") #{title[i]}
            +count-button
      if option != undefiend
        +button({isTextButton: true, size: "small", title: "применить", className: "dropdown_option dropdown_option-first"})
      if option == "option_two"
        +button({isTextButton: true, size: "small", title: "очистить", className: "dropdown_option dropdown_option-second"})
 
      
        
   
