include ./../arrow/arrow.pug
include ./../count-button/count-button.pug
include ./../button/button.pug

// title it's array where first element title for dropdown_title 
// values for option: "option_one", "option_two" 
mixin dropdown(title, option)
  - var expanded = (option != undefiend) ? " dropdown_optional" : ""
  div(class="dropdown " + className + optional)
    button(class="dropdown_expand dropdown_expand-option")
    span(class="dropdown_title") #{title[0]}
    +arrow("arrow_expand")
    div(class="dropdown_content")
      - for (var i = 1; i < title.length; i++)
          a(class="dropdown_link") #{title[i]}
            div(class="dropdown_button-expand")
              +count-button
      if option != undefiend
        +button({isTextButton: true, size: "small", title: "применить", className: "dropdown_button-expand dropdown_button-apply"})
      if option == "option_two"
        +button({isTextButton: true, size: "small", title: "очистить", className: "dropdown_button-expand dropdown_option-second"})
 
      
        
   
