include ./../arrow/arrow.pug
include ./../count-button/count-button.pug
mixin dropdown(title, name)
  div(class="dropdown " + name)
    button(class="dropdown_button")
    span(class="dropdown_title") #{title}
    +arrow("arrow_expand")
    div(class="dropdown_content")
      a(class="dropdown_link") Спальни
        +count-button
      a(class="dropdown_link") Кровати
        +count-button
      a(class="dropdown_link") Ванные комнаты
         +count-button

        
   
