@import "./../../assets/fonts/fonts.css";
@import "./../../abstracts/variables.scss";

/* Dropdown */
.dropdown {
  position: absolute;
  cursor: default;
  /* Dropdown button */
  &-button {
    position: absolute;
    width: 266px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    /* Dropdown button title */
    &--title {
      position: absolute;
      width: 190px;
      height: 18px;
      padding: 13px 0px 13px 15px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;    
      color: rgba(31, 32, 65, 0.75);
    }
    /* Dropdown button arrow icon */
    &--icon {
      position: absolute;
      width: 44px;
      height: 44px;
      left: 226px;
      font-family: Material Icons;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 24px;
      display: flex;
      align-items: center;
      text-align: center;    
      color: rgba(31, 32, 65, 0.75);
    }
  }
  /* Dropdown content */
  &-content {
    width: 266px;
    height: 159px;
    margin-top: 43px;
    background: #FFFFFF;  
    border: 1px solid rgba(31, 32, 65, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    display: none;
    /* Dropdown items */
    &--item {
      list-style-type: none;
      width: 133px;
      height: 15px;
      padding-left: 15px;    
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: #1F2041;
      &:first-child { padding: 13px 168px 22px 15px;}
      &:last-child { padding: 22px 168px 17px 15px;}
    }
  }
  /* Dropdown counter */
  &-counter {
    position: absolute;
    left: 155px;
    margin-top: -22px;
    &--amount {
      position: absolute;
      float: right;
      left: 52px;
      margin-top: 7px;
    }
    &--btnminus {
      cursor: pointer;
      margin-left: 12.7px; 
      margin-right: 12.7px; 
      outline: none; 
      width: 30px;
      height: 30px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      border-radius: 30px;
      background: white;
      border: 1px solid rgba(31, 32, 65, 0.5);  
    } 
    &--btnplus { @extend .dropdown-counter--btnminus;}
  }
  /* Drodown text buttons */
  &-textbtn {
    position: absolute;
    top: 172px;
    left: 2px;
    display: none;
    &-apply { position: absolute; margin-left: 159px; display: none;}
    &-erase { 
      position: absolute;
      color: rgba(31, 32, 65, 0.5) !important;
      display: none;
    }    
  }
  /* Show content on hover */
  .dropdown:hover &-content, 
  .dropdown:hover &-textbtn,
  .dropdown:hover &-textbtn > &-textbtn-apply {
    display: block;
  }
  /* Dropdown size big (default size is medium) */
  &-size-big {
    .dropdown-button { width: 320px; height: 44px;}
    .dropdown-content { width: 320px; height: 159px;}
    .dropdown-button--icon {left: 280px;}
    .dropdown-counter {left: 209px;}
    .dropdown-textbtn-apply {margin-left: 213px;}
  }   
}
