include ./dropdown.pug
doctype html
html
head
  script(src="./dropdown.js")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
body
 - const dropdown_title = ["2 спальни, 2 кровати...", "взрослые", "дети", "младенцы"]
 +dropdown(dropdown_title, "option_two")
 script(src="./../count-button/count-button.js")
