include ./../reservation-card/reservation-card.pug
include ./../login-card/login-card.pug
include ./../registration-card/registration-card.pug
include ./../search-card/search-card.pug

doctype html
html
head
  script(src="./reservation-card.js")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
body
 +reservation-card
 +login-card 
 +registration-card 
 +search-card 

