@import "../../abstracts/fonts.scss";

.reservation {
  /* Reservation card container */
  &_container {
    position: absolute;
    width: 380px;
    height: 511px;
    left: 560px;
    top: 150px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  /* Reservation dropdowns: departure, arrival, guest */
  &_dropdown {
    position: absolute;
    top: 90px;
    left: 30px;
    z-index: 1; // Solving: dropdown content overlapped by button
    &-departure {left: 200px;}
    &-guest {top: 207px;} 
  }
  /* Reservation buttons */
  &_button {
    left: 30px;
    position: absolute;
    &-lux {top: 59px; left: 70px;}
    &-reserve {top: 437px;}
  }
  /* Reservation texts */
  &_text {
    position: absolute;
    left: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    &-number {
      position: absolute;
      top: 40px;
      width: 64px;
      height: 30px;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 17px;
      color: #1F2041;
      text-transform: uppercase;
    }
    &-cost {
      top: 46px;
      left: 250px;
      height: 20px;
      font-family: Montserrat;
      font-style: normal;
      font-size: 14px;
      color: rgba(31, 32, 65, 0.5);
    }
  }
  /* Reservation price */
  &_price {
    display: block;
    position: absolute;
    top: 239px;
    left: -8px;
    list-style: none;
    height: 36px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
    &-title {
      /* made some space between title and price */
      display: inline-block;
      width: 196px;
      margin-right: 40px;
      vertical-align: top;  
    }
    &-cost {
    /* align price on right corner */
      width: 80px;
      padding-top: 8px;
      position: absolute;
      text-align: end;
    }
    &-item {
      padding-top: 8px;
    }
    &-amount {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 19px;
      line-height: 24px;
      color: #1F2041;
      margin-top: 10px;
    }
  }
}
