@import "./../../assets/fonts/fonts.css";
@import "./../../abstracts/variables.scss";

.reservation {
  /* Reservation card container */
  &_container {
    position: absolute;
    width: 380px;
    height: 511px;
    left: 560px;
    top: 150px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  /* Reservation dropdowns: departure, arrival, guest */
  &_dropdown {
    position: absolute;
    top: 90px;
    left: 30px;
    z-index: 1; // Solving: dropdown content overlapped by button
    &-departure {left: 200px;}
    &-guest {top: 207px;} 
  }
  /* Reservation buttons */
  &_button {
    left: 30px;
    position: absolute;
    &-lux {top: 59px; left: 70px;}
    &-reserve {top: 437px;}
  }
  /* Reservation texts */
  &_text {
    position: absolute;
    left: 30px;
    @include usual-text;
    color: $dark-shade-75;
    &-number {
      position: absolute;
      top: 49px;
      width: 64px;
      left: 30px;
      @include h1-title("");
      font-size: 14px;
      &-digit {
        font-size: 24px;
        top: -9px;
      }
      color: $dark-shade;
    }
    &-cost {
      top: 21px;
      left: 122px;
      @include usual-text;
      color: $dark-shade-50;
    }
  }
  /* Reservation price */
  &_price {
    display: block;
    top: 239px;
    left: -8px;
    list-style: none;
    @include usual-text;
    line-height: 18px;
    color: $dark-shade-75;
    &-title {
      /* made some space between title and price */
      display: inline-block;
      width: 196px;
      margin-right: 40px;
      vertical-align: top;  
    }
    &-cost {
    /* align price on right corner */
      width: 80px;
      padding-top: 8px;
      position: absolute;
      text-align: end;
    }
    &-item {
      padding-top: 8px;
    }
    &-amount {
      @include usual-text;
      font-weight: bold;
      font-size: 19px;
      color: $dark-shade;
      margin-top: 10px;
    }
  }
}
