include ../arrow/arrow.pug
mixin slideshow(firstImg, secondImg, thirdImg, fourthImg)
  // Slideshow container
  div(class="slideshow")
    
    // Full-width images  
    div(class="slideshow-slide") 
      img(src=firstImg style="width:100%") 
    div(class="slideshow-slide") 
      img(src=secondImg style="width:100%") 
    div(class="slideshow-slide")
      img(src=thirdImg style="width:100%") 
    div(class="slideshow-slide")
      img(src=fourthImg style="width:100%") 

    // Next and previous buttons
    div(class= "slideshow-button slideshow-button-prev") 
      +arrow("arrow_expand", "#FFFFFF")
    div(class= "slideshow-button slideshow-button-next") 
      +arrow("arrow_expand", "#FFFFFF")

    // The dots/circles 
    div(class="slideshow-dot-container") 
      span(class="slideshow-dot" onclick="currentSlide(1)")
      span(class="slideshow-dot" onclick="currentSlide(2)")
      span(class="slideshow-dot" onclick="currentSlide(3)")
      span(class="slideshow-dot" onclick="currentSlide(4)")

    // implement slideshow logic
    script(src="./../../slideshow/slideshow.js")      
