include ./../arrow/arrow.pug

mixin pagination(pages)   
  if pages != undefiend 
    div(class = "pagination")
    each page, i in pages
      - var classActive = (page.active == true) ? " active" : ""
      if (i < 5)
        a(href = `${page.link}` class = "pagination-link" + classActive) !{page.number}
        
  
  
  div(class = "pagination")
    p(class = "pagination-text") 1 – 12 из 100+ вариантов аренды   

  a(href = "#" class = "pagination-lin pagination-next") 
    +arrow("arrow_forward", "#FFFFFF")

      