include ./../textfield/textfield.pug
include ./../button/button.pug

mixin login-card 
  div(class="login")
    // Titles
    div(class="login_title-container")
      h1(class="login_title-main login_title") Войти
      h2(class="login_title-signup login_title") Нет аккаунта на Toxin?
    // Textfields
    div(class="login_textfield-container")
      div(class="login_textfield")
        div(class="login_textfield login_textfield-email")
          +textfield("email", "", "Email")
        div(class="login_textfield login_textfield-password")
          +textfield("password", "", "Пароль")
    // Buttons  
    div(class="login_button")
      div(class="login_button login_button-login")
        +button({title:"Войти", isArrowButton:1, size:"big", isColored:1})
      div(class="login_button login_button-register")  
        +button({title:"Создать", isBordered:1, size:"small"})



