include ./../../logo/logo.pug
include ./../../header/header.pug
include ./../../header_logged/header_logged.pug
include ./../../button/button.pug
include ./../../footer/footer.pug
include ./../../footer-creative/footer-creative.pug
include ./../../textfield/textfield.pug
include ./../../copyright-bar/copyright-bar.pug
include ./../../arrow/arrow.pug
include ./../../count-button/count-button.pug

doctype html
html
head
  script(src="./HeadersFooters.js")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
body
  div(class = "uikit-logo")
    +logo("uikit")
  div(class = "uikit-header")    
    +header 
  div(class = "uikit-header-logged")
    +header_logged
  div(class = "uikit-footer")
    +footer
  div(class = "uikit-footer-creative")
    +footer-creative