/** Text variables **/
@mixin text($family, $size, $weight, $color) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

/* This function fix problem with supporting Russian language for Quicksand font */
@function pickFont($lang) {
  $picked-font: 'Quicksand';
  @if ($lang == "russian") {
    /* Rule imitating Quicksand font */
    $picked-font: Montserrat, Arial, Helvetica, sans-serif;
  }
  @return $picked-font;
}

/* H1 title */
@mixin h1-title($lang) {
  position: absolute;
  width: 336px;
  height: 60px;
  font-style: normal;
  font-weight: bold;
  font-family: pickFont($lang);
  font-size: 24px;
  line-height: 30px;
  color: $dark-shade;
}
/* H2 title */
@mixin h2-title {
  position: absolute;
  width: 282px;
  height: 48px;
  left: 913px;
  top: 255px;
  font-family: pickFont($lang);
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: $dark-shade;
}
/* H3 title */
@mixin h3-title {
  position: absolute;
  width: 186px;
  height: 15px;
  font-size: 12px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  line-height: 15px;
  text-transform: uppercase;
  color: $dark-shade;
}
/* Usual text */
@mixin usual-text {
  position: absolute;
  width: 301px;
  height: 48px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $dark-shade-75;
}

/** Colors **/
$dark-shade: #1F2041;
$dark-shade-75: rgba($dark-shade, 0.75);
$dark-shade-50: rgba($dark-shade, 0.5);
$dark-shade-25: rgba($dark-shade, 0.25);
$dark-shade-5: rgba($dark-shade, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;
$gray:#e5e5e5;
$white:#fff;
$blue-light:#66d2ea;

$purple-25: rgba($purple, 0.25);
$blue:#8ba4f9;
$blue-25: rgba($blue, 0.25);
$font: Montserrat, Arial, sans-serif;
$font-eng:Quicksand, Arial, sans-serif;
