mixin copyright-bar 
  // Font awesome
  script(src="https://kit.fontawesome.com/8ec038fa62.js" crossorigin="anonymous")
  div(class="copyright") 
    div(class="copyright-text")
      p Copyright © 2018 Toxin UI Kit. All rights reserved.
    
    div(class="copyright-brand")
      div(class="copyright-brand-instagram") 
        a(href="#" class="copyright-brand-link")
          i(class="fab fa-instagram")
      div(class="copyright-brand-twitter")
        a(href="#" class="copyright-brand-link")
          i(class="fab fa-twitter")
      div(class="copyright-brand-facebook")
        a(href="#" class="copyright-brand-link")
          i(class="fab fa-facebook") 
