include ./like-button.pug
doctype html
html
head
  script(src="./index.js")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
body
  +like-button("like")
  script(src="./like-button.js")

