@import "./../../assets/fonts/fonts.css";
@import "./../../abstracts/variables.scss";

.date-dropdown {
  position: absolute;
  width: 150px;
  height: 44px;
  top: 35px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  &_filter {
    .arrow {left: 118px;}
    &[placeholder] {
      width: 320px;
      height: 44px;
    }
  }
  &[placeholder] {
    padding-left: 15px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 13px;
    color: rgba(31, 32, 65, 0.75);
  }
  &_arrow {
    position: absolute;
    left: 120px;
    top: 53px;
  }
  &_title {
    @include h3-title;
    top: 15.44px;
  }
}
