@import "../../abstracts/fonts.scss";

.date-dropdown {
  position: absolute;
  width: 150px;
  height: 44px;
  top: 35px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  &_filter {
    .arrow {left: 118px;}
    &[placeholder] {
      width: 320px;
      height: 44px;
    }
  }
  &[placeholder] {
    padding-left: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
  }
  &_arrow {
    position: absolute;
    left: 120px;
    top: 53px;
  }
  &_title {
    position: absolute;
    width: 118px;
    height: 15px;
    top: 15.44px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
  }
}
