input[type='range'] {
  width: 210px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
    outline: none;
}
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: none;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 266px;
  height: 6px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 3px;
}

input[type='range']:nth-child(2)::-webkit-slider-runnable-track{
  background: none;
}

input[type='range']::-webkit-slider-thumb {
  position: relative;
  height: 15px;
  width: 15px;
  margin-top: -5px;
  background: #fff;
  border: 1px solid #003D7C;
  border-radius: 25px;
  z-index: 1;    
  width: 12px;
  height: 12px;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}
    
input[type='range']:nth-child(1)::-webkit-slider-thumb{
  z-index: 2;
}

.rangeslider{
  position: relative;
  height: 60px;
  width: 210px;
  display: inline-block;
  margin-top: -5px;
  margin-left: 20px;
}
.rangeslider input{
  position: absolute;
}
.rangeslider{
  position: absolute;
}

@import "./../../assets/fonts/fonts.css";
@import "./../../abstracts/variables.scss";

.rangeslider span{
  position: absolute;
  margin-top: 30px;
  left: 0;
}

.rangeslider .light {
  width: 102px;
  height: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
}

.rangeslider .right{
  bottom: 60px;
  width: 100px;
  left: 115px;
  align-items: left;
}

.rangeslider .left {
  left: 40px;  
  width: 100px;
  bottom: 60px;
  align-items: right;
}

.range-dash {
  bottom: 60px;
  margin-left: 51px
}

/* Range max indicator*/
.range-output-max {
  position: absolute;
  bottom: 50%;
  left: 0;
  margin-bottom: 12px;
  margin-left: 4px;
  text-align: center;
  width: 204px;
  font-family: 'Advent Pro', sans-serif;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);  
  padding: 1px;
}
/* Range min indicator */
.range-output-min {
  position: absolute;
  bottom: 50%;
  left: 0;
  margin-bottom: 12px;
  margin-left: 4px;
  text-align: center;
  width: 0px;
  font-family: 'Advent Pro', sans-serif;
  background: white;  
  padding: 1px;
}