@import "./../../assets/fonts/fonts.css";
@import "./../../abstracts/variables.scss";

input[type='range'] {
  width: 266px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
    outline: none;
}
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: none;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 266px;
  height: 6px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 3px;
}

input[type='range']:nth-child(2)::-webkit-slider-runnable-track{
  background: none;
}

input[type='range']::-webkit-slider-thumb {
  position: relative;
  height: 15px;
  
  width: 15px;
  margin-top: -5px;
  background: #fff;
  border: 1px solid #003D7C;
  border-radius: 25px;
  z-index: 1;    
  width: 12px;
  height: 12px;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}
    
input[type='range']:nth-child(1)::-webkit-slider-thumb{
  z-index: 2;
}

.rangeslider{
  position: relative;
  height: 60px;
  width: 210px;
  display: inline-block;
  margin-top: -5px;
  margin-left: 20px;
}
.rangeslider input{
  position: absolute;
}
.rangeslider{
  position: absolute;
}

.rangeslider span{
  position: absolute;
  margin-top: 30px;
  left: 0;
}

.rangeslider .rangeslider-range {
  width: 102px;
  height: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
}


/* Rangeslider range counters */
.rangeslider-range {
  position: absolute;
  bottom: 65px;
  /* Range right counter*/
  &-right {
    margin-left: 170px;
    align-items: right;
  }
  /* Range left counter*/
  &-left {
    margin-left: 105px;
    width: 0px;
    align-items: right;
  }
  /* Range counter dash */
  &-dash {
    margin-left: 116px
  }
}


/* Range indicator */
.rangeslider-output {
  position: absolute;
  margin-bottom: 12px;
  margin-left: 4px;
  padding: 1px;
  text-align: center;
  bottom: 50%;
  /* Range maximum indicator */
  &-max {
    width: 90; 
    left: 95px;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);    
  }
  /* Range minimum indicator */
  &-min {
    left: 0;
    width: 0px;
    background: white;  
  }
}