include ./../../components/header/header.pug
include ./../../components/nav/nav.pug
include ./../../components/logo/logo.pug
include ./../../components/reservation-card/reservation-card.pug
include ./../../components/date-dropdown/date-dropdown.pug
include ./../../components/dropdown/dropdown.pug
include ./../../components/button/button.pug
include ./../../components/login-card/login-card.pug
include ./../../components/search-card/search-card.pug
include ./../../components/textfield/textfield.pug
include ./../../components/radio-button/radio-button.pug
include ./../../components/toggle-button/toggle-button.pug
include ./../../components/date-dropdown/date-dropdown.pug
include ./../../components/search-card/search-card.pug
include ./../../components/rating-button/rating-button.pug
include ./../../components/footer/footer.pug
include ./../../components/copyright-bar/copyright-bar.pug
include ./../../components/signup-card/signup-card.pug

doctype html
head
  script(src = "./registration.js")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  
body(class = "registration")
  // Header
  div(class = "registration-header")
    +header
    script(src = "./../../components/nav/nav.js")
    script(src = "./../../components/header/header.js")

  // Background image
  div(class = "registration-background")

  // Registration card
  div(class = "registration-signup")
    +signup-card
  
  // Footer
  div(class = "registration-footer")
    +footer
