@import "./../../assets/fonts/fonts.css";
@import "./../../abstracts/variables.scss";

.registration {
  position: absolute;
  width: 380px;
  height: 646px;
  left: 140px;
  top: 564px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  /* Titles main, signin */
  &_title {
    position: absolute;
    left: 30px;
    /* Include title mixin with Quicksand font */
    @include h1-title("russian");
    color: $dark-shade;
    &-main {
      top: 40px;
      left: 30px;
    }
    &-signin {
      top: 574px;
      left: 30px;
      color: #000000;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
    }
  }
  /* Textfields, dropdowns */
  &_textfield {
    position: absolute;
    &-container {
      position: absolute;
      left: 30px;
    }
    &-name {top: 90px;}
    &-surname {top: 144px;}
    &-date {top: 242px;}
    &-email {top: 346px;}
    &-password {top: 400px;}
  }
  /* Buttons, toggle, radio */
  &_button {
    position: absolute;
    &-container {
      position: absolute;
      left: 30px
    }
    &-radio {top: 208.5px;}
    &-toggle {top: 465px;}
    &-register {top: 505px;}
    &-login {left: 221px; top: 572px;}
  }
}
