.logo {
  overflow: visible;
  &_right-vector:hover, &_left-vector:hover, &_circle-vector {
    stroke: url(#paint0_linear);
    stroke-linejoin: round;
  }
  &_right-vector:hover { stroke-width: 3px;}
  &_left-vector:hover { stroke-width: 3.5px;}
  &_circle-vector:hover { stroke-width: 3px;}
}

// 0 -2 113 45
