@import "./../../assets/fonts/fonts.css";
@import "./../../abstracts/variables.scss";

.checkbox-list {
  padding: 0;
  left: 0px;
  &--arrow {
    position: absolute;
    width: 10px;
    left: 222px;
    top: 4px;
    transform: rotate(-180deg);
  }
  /* Checkbox title */
  &-title {
    @include h3-title;
    top: -18px;
    width: 192px;
    cursor: pointer;
  }
  
  
}
