@import "./../../assets/fonts/fonts.css";
@import "./../../abstracts/variables.scss";

.checkbox-list {
  padding: 0;
  left: 0px;
  &--arrow {
    position: absolute;
    left: 227px;
    margin-top: -27px;
    
    position: absolute;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    /* Dark 50% */

    color: rgba(31, 32, 65, 0.5);
  }
  /* Checkbox title */
  &-title {
    @include h3-title;
    top: -18px;
    width: 220px;
    cursor: pointer;
  }  
}
.checkbox-expanded-content {
  display: none;
}
