mixin radio-button(first_title, second_title, input_name)
  label(class="radio_container radio_container-right") #{first_title}
    input(type="radio" name=input_name class="radio")
  label(class="radio_container radio_container-left") #{second_title}
    input(type="radio" name=input_name class="radio" )


