mixin radio-button(first_title, second_title, input_name)
  label(class="radio-container") #{first_title}
    input(type="radio" name=input_name class="radio")
  label(class="radio-container") #{second_title}
    input(type="radio" name=input_name class="radio" )


