include ./../textfield/textfield.pug
include ./../button/button.pug
mixin card(name) 
  div(class= "card " + name)
    if name == "card-login"
      +textfield("email", "Войти", "Email")
      +textfield("password", "", "Пароль")
      +button({title:"Войти", isColored:true, className:"card-login_button-login"})
      +button({title:"Создать", isBordered:1, className:"card-login_button-register"})
      span(class="card-text card-login_text") Нет аккаунта на Toxin?
    else if name == "card-register" 
      p(class = "card_text card_text-title") Регистрация аккаунта
      +textfield("text", "", "Имя")
      +textfield("text", "", "Фамилия")
      +textfield("text", "дата рождения", "ДД.ММ.ГГГГ")
      +textfield("email", "данные для входа в сервис", "Email")
      +textfield("password", "", "Пароль")
      +button({title:"Создать", isColored:true, className:"card-register_button card-register_button-register"})
      +button({title:"Войти", isBordered:1, className:"card-register_button card-register_button-login"})
      span(class="card_text card_text-question") Нет аккаунта на Toxin?
    

 
