.card {
  position: absolute;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  &_text {
    left: 30px;
    position: absolute;
    width: 186px;
    height: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #000000;
    &-question { top: 584px;}
    &-title {
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      width: 320px;
    }
  }
  /* Login card */
  &-login {
    left: 560px;
    width: 380px;
    height: 358px;
    .card_text-question {top: 294px;}
    .card_text-title {top: 20px;}
    &_button {
      &-login {
        position: absolute;
        left: 30px;
        top: 208px;
      }
      &-register {
        position: absolute;
        left: 251px;
        top: 282px;
        border-radius: 22px;
      }

    }
    .textfield_input {
      position: relative;
      left: 30px;
      top: 70px;
    }
  }
  /* Register card */
  &-register {
    width: 380px;
    height: 646px;
    .card_text-question {top: 584px;}
    .card_text-title {top: 20px;}
    label[id=textfield_label] {
      position: absolute;
      left: 30px;
      margin-top: 5px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      &[for=email] {top: 326px;}
      &[for=text] {top: 242px;}
    } 
    &_button {
      position: absolute;
      &-register {
        left: 30px;  
        top: 498px;
        border: 1px solid rgba(0, 0, 0, 0.12);
      }
      &-login {
        left: 251px;
        top: 572px;
      }
    }
    .toggle {
      left: 30px; 
      top: 456px;
      &-text {
        top: 454px; 
        left: 30px;
      }
    }
    .date-dropdown {
      top: 262px;
      left: 30px;
      width: 320px;
      &_title {
        left: 30px;
        top: 242px;
      }
    }
    .textfield_input {
      position: absolute;
      left: 30px;
      &[placeholder="Имя"]{top: 90px;}
      &[placeholder="Фамилия"]{top: 144px;}
      &[type=email]{ top: 346px;}
      &[type=password] {top: 400px;}
    }
    .radio_container {margin-left: 25px; top: 200px;}
  }
  /* Search card */
  &-search {

    position: absolute;
    width: 380px;
    height: 374px;
    left: 560px;
    top: 400px;
    .card_text-title {
      left: 30px;
      top: 35px;
    }
    .card-search_button {
      position: absolute;
      left: 30px;
      top: 300px;
      z-index: 1;
    }
    .dropdown {
      left: 30px;
      top: 225px;
      z-index: 3;
      &_text {
        position: absolute;
        top: 205px;
        left: 30px;
        width: 43px;
        height: 15px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1F2041;
      }
    }
    .date-dropdown {
      top: 140px;
      /* dropdown-date input */
      &[id="date-right"] {left: 200px;}
      &[id="date-left"] {left: 30px;}
      &_left {
        position: absolute;
        .arrow { top: 183px; left: 32px;}
      }
      &_right {
        position: absolute;
        .arrow {top: 183px; left: 204px;}
      }
      /* date-dropdown_title label */
      &_title {
        left: 30px;
        &[for="date-right"] {
          top: 120px;
          left: 200px;
        } 
        &[for="date-left"] {
          top: 120px;
        }
      }
    }
  }
}

