.card {
  position: absolute;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  &-text {
    position: absolute;
    width: 164px;
    height: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #000000;
  }
  &-login {
    width: 380px;
    height: 358px;
    &_button {
      &-login {
        position: absolute;
        width: 320px;
        height: 44px;
        left: 30px;
        top: 208px;
      }
      &-register {
        position: absolute;
        width: 99px;
        height: 44px;
        left: 251px;
        top: 282px;
        border-radius: 22px;
      }
    }
    &_text {
      top: 294px;
      left: 30px;
    }
    .textfield_title {
      left: 30px;
      top: 40px;
    }
    .textfield_input {
      position: relative;
      left: 30px;
      top: 70px;
    }
  }
  &-register {
    width: 380px;
    height: 646px;
    label[for=email] {
      top: 300px;
    }
    label[for=password] {
      top: 200px;
    }
    &_button {
      position: absolute;
      &-register {
        left: 30px;  
        width: 320px;
        height: 44px;
        top: 498px;
        border: 1px solid rgba(0, 0, 0, 0.12);
      }
      &-login {
        width: 99px;
        height: 44px;
        top: 572px;
        left: 251px;
      }
    }
    .textfield_input {
      position: absolute;
      left: 30px;
      &[type=text]{
        position: relative;
        top: 90px;
      }
      &[type=date] {top: 262px;}
      &[type=email]{ top: 346px;}
      &[type=password] {top: 400px;}
    }
    .textfield_title {
      position: absolute;
      top: 40px;
      left: 30px;
    }
    &_text {
      left: 30px;
      top: 584px;
    }
  }
}


