include ./../date-dropdown/date-dropdown.pug
include ./../dropdown/dropdown.pug
include ./../button/button.pug


mixin search-card 
  div(class="search")
    - const dropdown_title = ["гости", "Сколько гостей", "взрослые", "дети", "младенцы"]
    // Titles 
    h1(class="search_title-main search_title") Найдём номера под ваши желания 
    // Dropdowns
    div(class="search_dropdown search_dropdown-arrival")
      +date-dropdown("", "прибытие") 
    div(class="search_dropdown search_dropdown-departure") 
      +date-dropdown("", "выезд")
    div(class="search_dropdown search_dropdown-guest")
        - const dropdown_title2 = ["Гости", "Сколько гостей", "взрослые", "дети", "младенцы"]
        +dropdown(dropdown_title2, "option_one")
    // Buttons
    div(class="search_button search_button-find")
      +button({isArrowButton:true, title:"подобрать номер", isColored:true, size: "big"})
