include ../nav/nav.pug
include ../button/button.pug
mixin header
  header(class="header")
    div(class="menu")
      +nav
      +button({title:"register", size:"xSmall", isColored:true, className:"button_register"})
      +button({title:"login", size:"xSmall", isBordered:1, className:"button_login"})
