include ./../menu/menu.pug 
include ./../logo/logo.pug 
include ./../button/button.pug

mixin header({logged})
  - adtnlClass = (logged != false) ? " header_logged" : "";
  header(class ="header" + adtnlClass)
    div(class ="header__menu")
      +menu({adtnlClass: false, options: false})
    div(class ="header__logo")
      +logo 

    if logged != true
      div(class ="header__button header__button_register")
        +button({title:"Зарегистрироваться", isColored:true, size: "header-register"})
      div(class ="header__button header__button_login")
        +button({title:"Войти", isBordered:1, size: "header-login"})
    else
      div(class ="header__separateline")
      span(class ="header__namefield") Юлий Цезарь
      