* {
  box-sizing: border-box;
}

.header {
  -webkit-user-select: none;     
  -moz-user-select: none; 
  -ms-user-select: none;

  position: absolute;
  width: 1440px;
  height: 70px;

  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  &_logo {
    position: absolute;
    top: 15px;
    left: 140px;
  }
  &_button {
    height: 34px;
    left: 1143px;
    &-login {
      position: absolute;
      top: 16px;
      width: 79px;
    } 
    &-register {
      position: absolute;
      top: 15px;
      width: 101px;
      margin-left: 100px;
    } 
  }
  &_nav {
    position: absolute;
    width: 527px;
    height: 21px;
    left: 543px;
    top: 10px;
  }
  &_card {
    &-login {
      display: none;
      left: 530px;
      top: 233px;
      &-show {
        display: block;
      }
    }
  }
}




