include ../nav/nav.pug
include ../button/button.pug
mixin header
  header(class="header")
    div(class="menu")
      +nav("header_nav menu__item")
      +button({isBordered: 1, isTextColored: 1, title: "Login", className: "header_button menu__item"})
