mixin dropdown
  div(class="dropdown")
    button(class="dropdown_button") 
    div(class="dropdown_content") 
      a(class="dropdown_link") First link
      a(class="dropdown_link") Second link
      a(class="dropdown_link") Third Link
