mixin header_logged
  header(class = "header header__logged")
    div(class = "menu")
      +nav("header__logged_nav")
      div(class = "header_logo")
        +logo("header_logo")
      div(class = "user") Cosmin Negotia
      

