@import "./../../assets/fonts/fonts.css";
@import "./../../abstracts/variables.scss";

.footer {
  position: absolute;
  width: 1440px;
  height: 372px;
  background: #FFFFFF;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  /* Text */
  &-text {
    @include usual-text;
  }
  /* Logo and describe */
  &-logo {
    position: absolute;
    top: 115px;
    left: 140px;
    /* Logo text */
    &-describe {
      top: 46px; 
      width: 260px; 
      height: 72px; 
      line-height: 24px;
    }
  }
  /* Navigation menu */
  &-menu {
    position: absolute;
    top: 44px;
    &-support {left: 840px;}
    &-about {left: 640px;}
    &-navigation {left: 440px;}
    .nav__item_selected {
      text-transform: uppercase; 
      font-size: 12px; 
    }
  }
  /* Subscribe field */
  &-subscribe {
    position: absolute;
    top: 7px;
    left: 50px;
    .textfield_input {
      position: absolute;
      width: 260px;
      top: 208px;
      left: 1040px;
    }
    .textfield_arrow {
      left: 1265px;
      top: 220px;
      position: absolute;
    }
    &-describe {
      top: 128px;
      left: 1040px;
      width: 260px;
      height: 48px;
    }
    &-title {
      left: 1040px;
      top: 104px;
    }
  }
  /* Title */
  &-title {
    @include h3-title;
    width: 220px;
  }
  &-copyright {
    position: absolute;
    top: 373px;
  }
}
