include ./textfield.pug
include ./../card/card.pug
doctype html
html
head
  script(src="./textfield.js")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
body
 +card("card-register")
 +card("card-login")
 +card("card-search") 
 

