include ./textfield.pug
include ./../container/container.pug
doctype html
html
head
  script(src="./textfield.js")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
body
 +container("container-login")
 // +textfield("email", "Войти", "Email")
 // +textfield("password", "", "Пароль")

