// Material icons
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

mixin textfield({inptType, plchldr, subscription})
  - var opt = (subscription != false) ? " textfield_subscription" :"";
  if subscription != false 
    span(class="textfield__arrow textfield_subscription_arrow material-icons") arrow_forward
  input(class="textfield"+opt type=inptType placeholder=plchldr)
  