@import "./../../assets/fonts/fonts.css";
@import "./../../abstracts/variables.scss";

.checkbox {
  padding: 0;
  left: 0px;
  &--arrow {
    position: absolute;
    width: 10px;
    left: 222px;
    top: -2.6px;
  }
  /* Checkbox input*/
  &-input {
    -webkit-user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-top: 10px;
    width: 10px;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid #BC9CFF;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
  }
  /* Checkbox checked icon*/ 
  &-icon {
    position: absolute;
    left: 10px;
    margin-top: 12px;
    width: 6px;
    height: 8px;
    border: solid #8BA4F9;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    pointer-events: none;
    display: none; 
  }
  /* Checkbox list */
  &-list {
    list-style-type: none;
    display: block;
    line-height: 18px;
  }
  /* Checkbox item */
  &-item {
    @include usual-text;
    margin-top: 12px;
    margin-left: 10px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
  }
  /* Rules for buttons wuth rich option */
  &-rich {
    /* Rich checkbox item (text)*/
    &-item {
      font-size: 12px;
      line-height: 14px;
      width: 236px;
      height: 28px;
      margin-top: 33px;
    }
    /* Rich checkbox list */
    &-list {
      height: 62px;
    }
    /* Rich checkbox item title */
    &-title {
      @include usual-text;
      width: 236px;
      height: 28px;
      font-weight: bold;
      font-size: 14px;
      padding-top: 9px;
      margin-left: 10px;
    }
  }
}
