mixin count-button
  div(class="count-button_container")
    button(class="count-button count-button_plus") +  
    span(class="count-button_counter") 0
    button(class="count-button count-button_minus") -  
