.count-button_container {
  position: absolute;
  bottom: 8px;
  margin-left: 153px;
  user-select: none; 
}
.count-button {
  cursor: pointer;
  margin: 7px; 
  outline: none; 
  width: 30px;
  height: 30px;
  font-family: Montserrat;
  left: 167px;
  top: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  border-radius: 30px;
  background: white;
  border: 1px solid rgba(31, 32, 65, 0.5);
}
