@import "./../../assets/fonts/fonts.css";
@import "./../../abstracts/variables.scss";

.nav {
  @include usual-text;
  display: flex;
  align-items: center;
  line-height: 17px;
  color: $dark-shade-50;
  text-transform: capitalize;
  flex-shrink: 0;
  white-space: nowrap;
  &__link {
    transition: all 0.3s; 
    display: block;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    &::after {
      @include usual-text;
      display: block;
      content: attr(title);
      height: 0px;
      overflow: hidden;
      visibility: hidden;
      font-weight: normal;
      line-height: 17px;
      color: $dark-shade-50;
    }
    &:hover {
      font-weight: 700;
    }
    &::before {
      font-weight: normal;
    }
  }

  &__item {
    text-align: center;
    margin-right: 27px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.5);
    font-weight: normal;
    font-style: normal;
    cursor: pointer;
    flex-shrink: 0;
    list-style: none;
    &:last-child {
      margin-right: 0px; 
    }
    &_arrow {
      position: absolute;
      right: -16px;
      bottom: 3.8px;
      &-active {
        transform: rotate(180deg); 
      }
    }
    &_selected {
      color: rgba(31, 32, 65, 0.75);
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
    }
  } 

  &__expanded {
    cursor: pointer;
    position: relative;
    margin-right: 41px;
    &:hover {
      font-weight: normal;
      border: 4px;
    }
    &_content {
      display: none;
      position: absolute;
      border-radius: 4px;
      padding: 5px;
      white-space: nowrap;
      overflow: hidden;
      width: 80px;
      background: #FFFFFF;
      border: 1px solid rgba(31, 32, 65, 0.5);
      box-sizing: border-box;
      &-show {
        display: block; 
      }
    }
    &_element {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
      color: #1F2041;
    }
  }
  &__show-list:before {content: none;}
  &__home-show {display: none;}
  &__home-hide {display: none;}
}

.nav_vertical {
  display: block;
  .nav__item {
    margin-top: 20px;
    margin-right: 0px;
    text-align: left;
  }
  .nav__item_arrow {
    left: 64px;
    top: 3.5px;
  }
  .nav__expanded {
    &_content-show {
      position: relative;
    }
  }
}

@media screen and (max-width: 600px) {
  .logo {display: none;}
  .nav {
    width: 600px;
    display: none;
    left: 0px;
    padding-top: 15px;
    padding-left: 43px;
    padding-bottom: 380px;
    z-index: 0;
    background: hotpink;
    top: 56px;
    &__link {
      width: 0px; 
      height: 30px;
      line-height: 30px;
    }
    &__item {
      width: 0px;
      background: hotpink;
      text-align: left;
      line-height: 0px;
      &_arrow {
        height: 8px;
        bottom: 0px;
        left: 60px; 
        margin-left: 2.5px;
        top: 12px;
      }
      &_selected {
        display: block;
      }
    }
    &__home-show {
      display: block;
      font-size: 22px;
      position: absolute;
      padding-left: 30px;
      bottom: 4.5px; 
    }
    &__show {
      &-list:before {
        content: "\f0c9"; 
        font-size: 25px;
        position: absolute;
        top: 40px;
        z-index: 1;
      }
      &-home {
        display: block;
        font-size: 22px;
        position: absolute;
        padding-left: 30px;
        bottom: 4.5px; 
      }
    }
    &__expanded {
      width: 0px;
      &_content {
        width: 80px;
        position: absolute;
      }
      &_element {
        height: 23px;
      }
      &_content-show {
        position: relative;
      }
    }
  }
  .responsive { display: block;}
}




