- 
  const DEFAULT_ITEMS = [
    {title: "Home", href: "#", isSelected: true},
    {title: "About Us", href: "#"},
    {title: "Services", href: "#", isExpanded: 
    [
          {title: "Service 1"},
          {title: "Service 2"},
          {title: "service 3"}
    ]},
    {title: "Careers", href: "#"},
    {title: "News", href: "#"},
    {title: "Documentation"}]

mixin nav
  ul(class= "nav")
    each item in DEFAULT_ITEMS
      if !item.isSelected & !item.isExpanded
        li(class= "nav__item")
          a(class= "nav__link" title= item.title href=item.href)= item.title

      else if item.isExpanded
        li(class= "nav__item nav__expanded")
          svg(class="nav__item_arrow" width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z" fill="#1F2041" fill-opacity="0.5")
          a(class= "nav__link")=item.title
          ul(class= "nav__item nav__expanded_content")
            each exp_item in item.isExpanded 
              li(class= "nav__expanded_element")
                a(class= "nav__link nav__expanded_element" href="#")= exp_item.title

      else
        li(class= "nav__item nav__item_selected")
          a(class= "nav__link" href= "#")= item.title
