@import "../../abstracts/_variables.scss";
@import "../../abstracts/_mixins.scss";

.nav {
  @include body-text();
  display: flex;
  align-items: center;
  line-height: 17px;
  color: $dark-50;
  text-transform: capitalize;
  // justify-content: center;
  flex-shrink: 0;
  &__link {
    transition: all 0.3s; 
    display: block;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    &::after {
      @include body-text();
      display: block;
      content: attr(title);
      height: 0px;
      overflow: hidden;
      visibility: hidden;
      font-weight: normal;
      line-height: 17px;
      color: $dark-50;
    }
    &:hover {
      font-weight: 700;
    }
    &::before {
      font-weight: normal;
    }
  }

  &__item {
    text-align: center;
    margin-right: 27px;
    font-family: $font;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.5);
    font-weight: normal;
    font-style: normal;
    cursor: pointer;
    flex-shrink: 0;
    list-style: none;
    &:last-child {
      margin-right: 0px; 
    }
    &_arrow {
      position: absolute;
      right: -14px;
      bottom: 3.8px;
      &-active {
        transform: rotate(180deg); 
      }
    }
    &_selected {
      color: rgba(31, 32, 65, 0.75);
      font-family: $font;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
    }
  } 

  &__expanded {
    cursor: pointer;
    position: relative;
    margin-right: 41px;
    &:hover {
      font-weight: normal;
      border: 4px;
    }
    &_content {
      display: none;
      position: absolute;
      border-radius: 4px;
      padding: 5px;
      white-space: nowrap;
      overflow: hidden;
      width: 80px;
      background: #FFFFFF;
      border: 1px solid rgba(31, 32, 65, 0.5);
      box-sizing: border-box;
      &-show {
        display: block;  
      }
    }
    &_element {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: #1F2041;
    }
  }
}


