@import "./../../assets/fonts/fonts.css";
@import "./../../abstracts/variables.scss";

.review {
  position: absolute;
  width: 270px;
  height: 257px;
    
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  &-describe {
    left: 20px;
    &-rating {
      margin-top: 64px;
      margin-left: 12px;
    }
    &-number {
      font-family: 'Quicksand';
      position: absolute;
      line-height: 17px;
      bottom: 62px;
      font-size: 14px;
      &-digit {
        font-size: 19px;
      }
    }
    &-sign {
      position: absolute;
      bottom: 62px;
      left: 55px;
    }
    &-recall {
      position: absolute;
      bottom: -5px;
      left: 166px;
      @include usual-text;
      color: rgba(31, 32, 65, 0.5);
    }
    &-cost {
      position: absolute;
      left: 153px;
      bottom: 49px;
      font-family: "Montserrat";
      font-size: 13px;
      color: $dark-shade-50;
    }
    &-bold {
      font-weight: bold;
      font-size: 14px;
    }
    &-separate {
      position: absolute;
      width: 230px;
      height: 1px;
      top: 205px;
      background: rgba(31, 32, 65, 0.1);
    }
  }
}
