include ./../rating-button/rating-button.pug
include ./../button/button.pug
include ./../slideshow/slideshow.pug

mixin review-card(option)
  div(class="review")
    +slideshow("./../../../assets/images/img1.jpg", "./../../../assets/images/img2.jpg", "./../../../assets/images/img3.jpg")
    // Describe field
    div(class="review-describe")
      div(class="review-describe review-describe-rating")
        +rating-button("4")
      div(class="review-describe review-describe-number")
        span № 
        span(class = "review-describe-number-digit") 840
      div(class="review-describe review-describe-cost")
        p(class="review-describe") !{"<b class='review-describe-bold'>9 900Р</b>"} в сутки
      div(class="review-describe review-describe-recall")
        a(class="review-describe") !{"<b class='review-describe-bold'>65</b>"} Отзывов
      
      if option == "lux" 
        div(class="review-describe review-describe-sign")
          +button({title:"люкс", isTextButton: true, size: "small"})
      
      // Separate line between rating/recall and number/cost
      div(class="review-describe review-describe-separate") 
